.Cls_Whatsapp {
  color: rgb(0, 255, 102);
}

#Whatsapp {
  background: rgb(0, 255, 102);
}

.Cls_Instagram {
  color: rgb(255, 0, 128);
}

#Instagram {
  background: rgb(255, 0, 128);
}

.Cls_Instagram {
  color: rgb(255, 0, 128);
}

#Instagram {
  background: rgb(255, 0, 128);
}

.Cls_Linkedin {
  color: rgb(9, 101, 194);
}

#Linkedin {
  background: rgb(9, 101, 194);
}

.Cls_TikTok {
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 0px #F7004E, -1px -1px 0px #00EAE3;
}

#TikTok {
  background-image: linear-gradient(-45deg, #F7004E, #00EAE3);
}

.Cls_Twitter {
  color: rgb(29,155,240);
}

#Twitter {
  background: rgb(29,155,240);
}
