.dot_father {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-top: 10rem;
  animation: scale 0.2s linear;
}

.dot {
  z-index: 3;
  position: absolute;
  top: -0.7rem;
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(45deg);
  background: #021a20;
  box-shadow: 0px 0px 10px #b319fb;
}

.dot_Card {
  position: absolute;
  width: 17rem;
  height: 12rem;
  background: #021a20;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #b319fb;
}

.dot_Card_two {
  position: absolute;
  z-index: 6;
  width: 17rem;
  height: 12rem;
  background: #021a20;
  border-radius: 5px;
  padding: 1rem;
  color: #fff;
}

.margin_left {
  left: -4rem;
}

.margin_right {
  right: -4rem;
}

.card_Nav {
  text-align: center;
  width: 100%;
  height: 30%;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 1120px) {
}

@media (max-width: 1020px) {
  .dot_father {
    margin-top: 12rem;
  }

  .dot_Card,
  .dot_Card_two {
    width: 22rem;
    height: 18rem;
  }
}

@media (max-width: 900px) {
}

@media (max-width: 830px) {
  .dot_father {
    margin-top: 14.5rem;
  }

  .dot_Card,
  .dot_Card_two {
    width: 28rem;
    height: 22rem;
  }
}

@media (max-width: 670px) {
}

@media (max-height: 622px) {
}

@media (max-width: 580px) {
  .dot_father {
    margin-top: 17rem;
  }
}

@media (max-width: 530px) {
  .dot_father {
    margin-top: 16rem;
  }
}

@media (max-width: 460px) {
}

@media (max-width: 425px) {
}

@media (max-width: 390px) {
  .dot_father {
    margin-top: 14rem;
  }
}

@media (max-width: 350px) {
}

@media (max-width: 320px) {
}

@media (max-width: 300px) {
}

@media (max-width: 280px) {
}
