.Sobre_Component {
  width: 100%;
  height: 100%;
}

.sobre {
  padding-bottom: 1rem;
  text-align: center;
  width: 100%;
  background: #021a20;
  border: 1px solid #021a20;
  font-size: 1.5rem;
}

.artigo {
  height: 100%;
  border: 1rem solid #021a20;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #021a20;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.artigo .artigo_scroll p {
  text-align: center;
  font-size: 1.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#html {
  color: rgb(255, 0, 72);
}

#css {
  color: rgb(98, 70, 255);
}

#javascript {
  color: rgb(249, 255, 70);
}

@media (max-width: 1120px) {
}

@media (max-width: 1020px) {
  .artigo .artigo_scroll p {
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
}

@media (max-width: 830px) {
  .artigo .artigo_scroll p {
    font-size: 2rem;
  }

  .sobre {
    font-size: 2.2rem;
  }
}

@media (max-width: 670px) {
}

@media (max-height: 622px) {
}

@media (max-width: 580px) {
}

@media (max-width: 530px) {
}

@media (max-width: 460px) {
}

@media (max-width: 425px) {
  .artigo .artigo_scroll p {
    font-size: 2rem;
  }
}

@media (max-width: 390px) {
}

@media (max-width: 350px) {
  .profile_circle {
    width: 24rem;
    height: 24rem;
  }

  .profile_nav_left img {
    width: 6rem;
  }

  .profile h2 {
    font-size: 3rem;
  }

  .profile p {
    font-size: 2.3rem;
  }

  .sobre {
    font-size: 2.5rem;
  }

  .artigo .artigo_scroll p {
    font-size: 2.5rem;
  }
}

@media (max-width: 320px) {
}

@media (max-width: 300px) {
}

@media (max-width: 280px) {
}
