.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  color: #fff;
  border-radius: 3px;
}

.card_clock {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2.5rem;
  border: 1px solid #fff;
  box-shadow: 0 0 10px #fff;
  font-size: 2.5rem;
}

.relogio {
  position: absolute;
  top: 2px;
}

@media (max-width: 1120px) {
  .card_clock {
    padding: 2rem;
    font-size: 2rem;
  }
}

@media (max-width: 1025px) {

}

@media (max-width: 900px) {
  .card_clock {
    font-size: 2.3rem;
    padding: 2.2rem;
  }
}

@media (max-width: 830px) {
  .card_clock {
    font-size: 2.1rem;
    padding: 2.1rem;
  }
}

@media (max-width: 670px) {
  .card_clock {
    width: 100%;
    font-size: 2rem;
    padding: 2.1rem;
  }

  .clock {
    padding: 0.5rem;
    font-size: 2.1rem;
  }
}

@media (max-width: 622px) {
  .card_clock {
    font-size: 1.8rem;
  }
}

@media (max-height: 622px) {

}

@media (max-width: 580px) {}

@media (max-width: 530px) {
  .card_clock {
    font-size: 1.8rem;
  }
}

@media (max-width: 460px) {}

@media (max-width: 425px) {}

@media (max-width: 390px) {}

@media (max-width: 350px) {}

@media (max-width: 320px) {}

@media (max-width: 300px) {}

@media (max-width: 280px) {}
