i {
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5em;
  width: 5rem;
  height: 5rem;
  color: #fff;
}

@media (max-width: 1120px) {
}

@media (max-width: 1020px) {
  i {
    font-size: 4rem;
  }
}

@media (max-width: 900px) {
}

@media (max-width: 830px) {
  i {
    font-size: 5.5rem;
  }
}

@media (max-width: 670px) {
}

@media (max-height: 622px) {
}

@media (max-width: 580px) {
  i {
    width: 8rem;
    height: 8rem;
    font-size: 6rem;
  }
}

@media (max-width: 530px) {
}

@media (max-width: 460px) {
}

@media (max-width: 425px) {
}

@media (max-width: 390px) {
}

@media (max-width: 350px) {
}

@media (max-width: 320px) {
}

@media (max-width: 300px) {
}

@media (max-width: 280px) {
}
