.card_profile {
  position: relative;
  width: 85%;
  max-width: 520px;
  max-height: 480px;
  background-color: #13072590;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0px 0px 10px #b319fb;
}

.card_profile_top,
.card_profile_bottom {
  position: relative;
  height: 50%;
}
