.main {
  display: flex;
  width: 100%;
  margin-top: 10rem;
  height: 550px;
}

.main_card_left {
  display: flex;
  justify-content: center;
  width: 50%;
}

.svg_astronauta {
  text-align: center;
}

.svg_astronauta img {
  width: 37rem;
  animation: float 3s linear infinite;
}

.menu_content {
  width: 100%;
}

@keyframes float {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-10px);
  }
}

.main_card_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

@media (max-width: 1120px) {
}

@media (max-width: 1020px) {
  .main {
    flex-direction: column;
  }

  .main_card_left,
  .main_card_right {
    width: 100%;
  }

  .svg_astronauta {
    display: none;
  }
}

@media (max-width: 900px) {
}

@media (max-width: 830px) {
}

@media (max-width: 670px) {
  .main {
    flex-direction: column;
    height: 180rem;
  }

  .main .main_card_left {
    width: 100%;
    max-height: 100vh;
  }

  .main .main_card_right {
    width: 100%;
  }

  .main_card_left {
    max-height: 80rem;
  }

  .profile h2 {
    font-size: 3rem;
  }

  .profile p {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .profile_nav {
    height: 7rem;
  }

  .profile_nav_left img {
    width: 6rem;
  }

  .dot_one,
  .dot_two,
  .dot_three {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-height: 622px) {
  .main_card_left {
    max-height: 97rem;
  }
}

@media (max-width: 580px) {
  .main_card_left {
    max-height: 100rem;
  }
}

@media (max-width: 530px) {
}

@media (max-width: 460px) {
  .main_card_left {
    padding: 10px;
  }
}

@media (max-width: 425px) {
  .main_card_left {
    max-height: 81rem;
  }
}

@media (max-width: 390px) {
}

@media (max-width: 350px) {
}

@media (max-width: 320px) {
}

@media (max-width: 300px) {
}

@media (max-width: 280px) {
}
