.main {
  display: flex;
  width: 100%;
  margin-top: 10rem;
  min-height: 55rem;
}

.main_card_left {
  display: flex;
  justify-content: center;
  width: 50%;
}

@media (max-width: 1020px) {
  .svg_astronauta {
    display: none;
  }
}

@media (max-width: 1120px) {
}

@media (max-width: 1020px) {
  .main {
    flex-direction: column;
    align-items: center;
    height: 70rem;
  }

  .main_card_left {
    width: 100%;
    min-height: 70vh;
  }
}

@media (max-width: 900px) {
}

@media (max-width: 830px) {
  .main {
    border: solid blue;
    height: 100rem;
  }
}

@media (max-width: 670px) {
}

@media (max-height: 622px) {
}

@media (max-width: 580px) {
}

@media (max-width: 530px) {
}

@media (max-width: 460px) {
  .main_card_left {
    min-height: 68vh;
  }
}

@media (max-width: 425px) {
  .main {
    min-height: 80rem;
  }
}

@media (max-width: 390px) {
  .main_card_left {
    min-height: 42vh;
    border: solid red;
  }
}

@media (max-width: 350px) {
  .main {
    height: 110rem;
  }

  .main_card_left {
    min-height: 64vh;
  }
}

@media (max-width: 320px) {
  .main_card_left {
    height: 45vh;
    border: solid rgb(0, 64, 255);
  }

  .card_profile {
    min-height: 90rem;
  }
}

@media (max-width: 300px) {
}

@media (max-width: 280px) {
}
