{
  "semi": true,
  "arrowParens": "always",
  "editorconfig": true,
  "proseWrap": "always",
  "printWidth": 60,
  "singleQuote": true,
  "tabWidth": 2,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "BracketLine": true
}
